node_modules/
/test-results/
/playwright-report/
/blob-report/
/allure-report/
/allure-results/
.vscode/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
